.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex; //organizar los elementos en columnas, automaticamente se centran
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-registro{ // mejor manipulación
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header-registro{ //
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.body-registro{ //tamaño de la pantalla
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.img-slider{ // tamaño para todas las imagenes
  width: 900px;
  height: 630px;
}


//Radio buttons , para seleccionar el tipo de usuario que quiero registrar
.title-user{
  font-size: 28px;
  text-align: center;
  font-family: Nexa-Bold;
  letter-spacing: 2px;
  color: #231F20;
  text-transform: uppercase;
  opacity: 1;
}

.container{
  width: 50vw;
}

::ng-deep .mat-mdc-radio-button .mdc-form-field { // el ng-deep es para formar que es un elemento de Angular
  color: #231F20;
  font-family: Nexa;
  font-size: 20px;
}

//Cambia el color del radio focus
::ng-deep .mat-mdc-radio-button.mat-accent { // .mat-accent para seleccionar
  --mdc-radio-selected-focus-icon-color: #0092B8;
  --mdc-radio-selected-hover-icon-color: #0092B8;
  --mdc-radio-selected-icon-color: #0092B8;
  --mdc-radio-selected-pressed-icon-color: #0092B8;
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color: #0092B8;
}

::ng-deep .mdc-radio { // .mdc-radio es para cambiar el tamaño del circulo
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  box-sizing: content-box;
  width: 20px;
  height: 28px!important;
  cursor: pointer;
  will-change: opacity,transform,border-color,color;
}
