<div class="wrapper">
  <div class="icon-close">
      <button class="btn" (click)="cerrar_modal()">
          <i class="bi bi-x-lg"></i>
      </button>
  </div>
  <div class="body-modal">
      <h1 class="title-modal">Editar {{rol}}</h1>
      <span class="descripcion">Está a punto de editar este {{rol}}. Puede cancelar esta acción si lo desea.</span>
      <div class="buttons-modal">
          <button mat-button class="btn-regresar" (click)="cerrar_modal()">
              Cancelar
          </button>
          <button mat-button class="btn-eliminar" (click)="editarUser()">
              Editar
          </button>
      </div>
  </div>
</div>
